.beerDetails {
    background: white;
    border-radius: 0.375rem;
    padding: 20px;
    margin: 20px;
    width: 25%;
    box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
    text-align: center;
}

@media all and (max-width: 1200px) {
    .beerDetails {
        width: 40%;
    }
}
@media all and (max-width: 800px) {
    .beerDetails {
        width: 100%;
    }
}